# Vault initialization data
vault-init.json
*.snap

# Certificates
certs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Helm
helm-chart/**/charts/
helm-chart/**/*.tgz

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

**/.env
.idea/
vault-init.json

# Ignore user-specific dot folders
.claude
!.gitignore
!.github/